# Environment variables
.env

# Temporary and cache directories
cache/
temp_uploads/
files/
schemas/
.streamlit/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Docker
.dockerignore

# OS files
.DS_Store
Thumbs.db
